[project]
	description = Robinhood Policy Engine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Thomas Leibovici (tl-cea)
[access "refs/for/refs/*"]
	read = group user/Thomas Leibovici (tl-cea)
	push = group user/Thomas Leibovici (tl-cea)
	label-Code-Review = -2..+2 group user/Thomas Leibovici (tl-cea)
	label-Verified = -1..+1 group user/Thomas Leibovici (tl-cea)
	rebase = group user/Thomas Leibovici (tl-cea)
	removeReviewer = group user/Thomas Leibovici (tl-cea)
	submit = group user/Thomas Leibovici (tl-cea)
[access "refs/heads/*"]
	read = group user/Thomas Leibovici (tl-cea)
	create = group user/Thomas Leibovici (tl-cea)
	push = +force group user/Thomas Leibovici (tl-cea)
	pushMerge = group user/Thomas Leibovici (tl-cea)
[access "refs/tags/*"]
	push = +force group user/Thomas Leibovici (tl-cea)
	pushTag = group user/Thomas Leibovici (tl-cea)
	pushSignedTag = group user/Thomas Leibovici (tl-cea)
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
	mergeContent = false
