#form {
	background: #3B5998;
	padding:15px 20px;
	color:#eee;
	width:400px;
	margin:0 auto;
	position:relative;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top: 3em;
} 

/* input field */
#form input {
	border:1px solid #444;
	background-color:#fff;
	padding:5px;
	color:#000;
	font-size:12px;

	/* CSS3 spicing */
	text-shadow:1px 1px 1px #000;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#form input:focus {
	color:#000;
	background-color: #E0E9F5;
}

/* field label */
#form label {
	display:block;
	font-size:0.8em;
}


/* error message */
.error {
	height:15px;
	background-color: #E0E9F5;
	font-size:12px;
	border:1px solid #E0E9F5;
	padding:4px 10px;
	color:#000;
	display:none;	
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px; 
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;	
	-webkit-border-bottom-left-radius:0; 
	-webkit-border-top-left-radius:0;
	
	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;	
}

.error p {
	margin:0;		
}
