/* 
	Cusco Sky table styles
	written by Braulio Soncco http://www.buayacorp.com
*/

table.simple {
	width: 100%;
	margin-top: 2%;
}

table.simple, table.simple th, table.simple td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}

table.simple caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}

table.simple td, th {
	padding: 4px;
	text-align: center;
}

table.simple thead th {
	text-align: center;
	background: #E6EDF5;
	color: #4F76A3;
	font-size: 100% !important;
}

table.simple tbody th {
	font-weight: bold;
}

table.simple tbody tr { background: #F7F9FC; }

table.simple tfoot th, tfoot td {
	font-size: 85%;
}

table.simple a {
        display: block;
        text-decoration: none;
        color: #555;
}

