<?xml version="1.0"?>
<routes>
  <route url="users.php" module="user" type="main"/>
  <route url="groups.php" module="group" type="main"/>
  <route url="status.php" module="status" type="main"/>
  <route url="sizes.php" module="size" type="main"/>
  <route url="(.*)_user_popup.php" module="user" type="popup" vars="user"/>
  <route url="(.*)_group_popup.php" module="group" type="popup" vars="group"/>
  <route url="(.*)_status_popup.php" module="status" type="popup" vars="status"/>
  <route url="(.*)_size_popup.php" module="size" type="popup" vars="user"/>
  <route url="search.php" module="search" type="main"/>
  <route url="configuration.php" module="configuration" type="main"/>
  <route url="" module="user" type="main"/>
  <route url="index.php" module="user" type="main"/>
</routes>
