[Unit]
Description=Robinhood server
#only works if config file is unique

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/robinhood
ExecStart=/usr/sbin/robinhood $RBH_OPT -p /var/run/rbh.pid
PIDFile=/var/run/rbh.pid
