[Unit]
Description=Robinhood server for %I

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/robinhood
EnvironmentFile=-/etc/sysconfig/robinhood.%I
ExecStart=/usr/sbin/robinhood $RBH_OPT -f /etc/robinhood.d/%I.conf -p /var/run/rbh.%I.pid
PIDFile=/var/run/rbh.%I.pid
